<h2>Horarios</h2>
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" style="margin-top:5px;">
  <tr>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Horario</a></th>
    <th class="table-header-repeat line-left"><a href="#" onclick="javascript:return false;">Paciente</a></th>
  </tr>

  <% @therapist.therapist_schedules.actives.order(:dia, :hora).each do |schedule| %>
      <tr class=<%= cycle("alternate-row", "") %>>
        <td><%= schedule.name %></td>
        <td><%= schedule.therapies.actives.first.try(:patient).try(:nombre) %></td>
      </tr>
  <% end %>
</table>
