<%= render "shared/control_buttons", :locals => {:instance => @payment} %>


<div class="buttons" style="width:700px; padding:10px; margin-left:auto; margin-right:auto; text-align:center;">
<%= link_to image_tag('/images/glyphicons/glyphicons_181_download_alt.png', :alt => '') + " " + t("helpers.link.download_pdf"), "/payments/#{@payment.id}.pdf" %>
</div>

<div style="width:700px; padding:20px; border:solid 1px; margin-left:auto; margin-right:auto;">
  <%= @payment.pdf_text.html_safe %>
</div>

